In [17]:
#Which team has won/lost maximum number of matches while chasing?
import pandas as pd
df=pd.read_csv("matches.csv")
dic={}
dic1={}
for index,row in df.iterrows():
    team=row["team2"]
    if team in dic:
        if(row["winner"]==team):
            dic[team]+=1
    else:
        if(row["winner"]==team):
            dic[team]=1

for index,row in df.iterrows():
    team=row["team2"]
    if team in dic1:
        if(row["winner"]!=team):
            dic1[team]+=1
    else:
        if(row["winner"]!=team):
            dic1[team]=1
            
print(max(dic, key=dic.get))
print(max(dic1, key=dic1.get))

Kolkata Knight Riders
Delhi Daredevils

In [34]:
#Which toss decision is best for each ground?
df=pd.read_csv("matches.csv")
dic={}
for index,row in df.iterrows():
    venue=row["venue"]
    if venue in dic:
        if(row["winner"]==row["team1"]):
            dic[venue]+=1
        elif row["winner"]==row["team2"]:
            dic[venue]-=1
    else:
        if(row["winner"]==row["team1"]):
            dic[venue]=1
        elif row["winner"]==row["team2"]:
            dic[venue]=-1
            
#print(dic)
for venue in dic:
    if dic[venue]<0:
        dic[venue]="field"
    elif dic[venue]==0:
        dic[venue]="equal"
    else:
        dic[venue]="bat"
print(dic)

{'Rajiv Gandhi International Stadium, Uppal': 'field', 'Maharashtra Cricket Association Stadium': 'field', 'Saurashtra Cricket Association Stadium': 'field', 'Holkar Cricket Stadium': 'field', 'M Chinnaswamy Stadium': 'field', 'Wankhede Stadium': 'field', 'Eden Gardens': 'field', 'Feroz Shah Kotla': 'field', 'Punjab Cricket Association IS Bindra Stadium, Mohali': 'equal', 'Green Park': 'field', 'Punjab Cricket Association Stadium, Mohali': 'field', 'Sawai Mansingh Stadium': 'field', 'MA Chidambaram Stadium, Chepauk': 'bat', 'Dr DY Patil Sports Academy': 'field', 'Newlands': 'bat', "St George's Park": 'field', 'Kingsmead': 'bat', 'SuperSport Park': 'field', 'Buffalo Park': 'bat', 'New Wanderers Stadium': 'field', 'De Beers Diamond Oval': 'field', 'OUTsurance Oval': 'equal', 'Brabourne Stadium': 'bat', 'Sardar Patel Stadium, Motera': 'equal', 'Barabati Stadium': 'bat', 'Vidarbha Cricket Association Stadium, Jamtha': 'bat', 'Himachal Pradesh Cricket Association Stadium': 'bat', 'Nehru Stadium': 'bat', 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'bat', 'Subrata Roy Sahara Stadium': 'bat', 'Shaheed Veer Narayan Singh International Stadium': 'field', 'JSCA International Stadium Complex': 'field', 'Sheikh Zayed Stadium': 'bat', 'Sharjah Cricket Stadium': 'field', 'Dubai International Cricket Stadium': 'field', 'M. A. Chidambaram Stadium': 'equal', 'Feroz Shah Kotla Ground': 'field', 'M. Chinnaswamy Stadium': 'equal', 'Rajiv Gandhi Intl. Cricket Stadium': 'bat', 'IS Bindra Stadium': 'field', 'ACA-VDCA Stadium': 'field'}

In [74]:
#Which player has won maximum number of MoM awards while chasing?
df_match=pd.read_csv("matches.csv")
df_delivery=pd.read_csv("deliveries.csv")
dic={}
for index,row in df_match.iterrows():
    id=row["id"]
    team1=row["team1"]
    team2=row["team2"]
    mom=row["player_of_match"]
    df=df_delivery[df_delivery["match_id"]==id]
    for index1,row1 in df.iterrows():
        bat=row1["batsman"]
        ns=row1["non_striker"]
        ball=row1["bowler"]
        team_bat=row1["batting_team"]
        team_ball=row1["bowling_team"]
        if (bat==mom and team_bat==team2) or (ball==mom and team_ball==team2) or (ns==mom and team_bat==team2) :
            if mom not in dic:
                dic[mom]=1
            else:
                dic[mom]+=1
        if bat==mom or ball==mom or ns==mom:
            break

print(max(dic, key=dic.get))

YK Pathan

In [30]:
#Which batsman has played maximum number of dot balls?
df=pd.read_csv("deliveries.csv")
dot=df[df["total_runs"]==0]
dot=dot.groupby("batsman").size().reset_index(name='counts')
ans=dot.loc[dot['counts'].idxmax()]
print(ans)

batsman    V Kohli
counts        1369
Name: 477, dtype: object

In [97]:
#Which batsmen came to crease but never got a chance to face a ball?
dic={}
df=pd.read_csv("deliveries.csv")
ids=list(df.match_id.unique())
ans=[]

for index,row in df.iterrows():
    bats=row["batsman"]
    ns=row["non_striker"]
    if bats not in dic:
        dic[bats]=1
    if ns not in dic:
        dic[ns]=0
    if bats in dic:
        dic[bats]=1
for bats in dic:
    if dic[bats]==0:
        ans.append(bats)
            
ans

['A Nel', 'C Ganapathy', 'TP Sudhindra', 'BW Hilfenhaus']

In [65]:
#Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?
df=pd.read_csv("deliveries.csv")
dic = {}
for index,row in df.iterrows():
    runs = str(row['batsman_runs'])
    bowler = row['bowler']
    if dic.get(runs) == None:
        dic[runs] = {}
    if dic[runs].get(bowler) == None:
        dic[runs][bowler] = 0
    dic[runs][bowler] += 1
for runs in ['0','1','2','3','4','5','6']:
    print("max number of"+runs+"conceeded by")
    print(max( dic[runs], key=dic[runs].get))

max number of0conceeded by
Harbhajan Singh
max number of1conceeded by
Harbhajan Singh
max number of2conceeded by
A Mishra
max number of3conceeded by
P Kumar
max number of4conceeded by
UT Yadav
max number of5conceeded by
AB Dinda
max number of6conceeded by
PP Chawla

In [71]:
#Which batsman got stumped out maximum number of times?
dic = {}
for index,row in df.iterrows():
    dismissed=row["player_dismissed"]
    kind=row["dismissal_kind"]
    if kind == "stumped":
        if dismissed not in dic:
            dic[dismissed]=1
        else:
            dic[dismissed]+=1
print(max(dic,key=dic.get))

SK Raina

In [78]:
#Which non-striker has been part of maximum number of runouts?
df=pd.read_csv("deliveries.csv")
dic = {}
for index,row in df.iterrows():
    dismissed=row["player_dismissed"]
    ns=row["non_striker"]
    kind=row["dismissal_kind"]
    if kind == "run out":
        if ns not in dic:
            dic[ns]=1
        else:
            dic[ns]+=1
print(max(dic,key=dic.get))

KD Karthik

In [81]:
#total matches won by all teams
df=pd.read_csv("matches.csv")
winner_series = df.groupby(df.winner).winner.count()
winner_df = pd.DataFrame(winner_series)
winner_df.columns = ['countwin']
winner_df.reset_index(inplace=True)
win_sorted = winner_df.countwin
winner_df

                         winner  countwin
0           Chennai Super Kings       100
1               Deccan Chargers        29
2                Delhi Capitals        10
3              Delhi Daredevils        67
4                 Gujarat Lions        13
5               Kings XI Punjab        82
6          Kochi Tuskers Kerala         6
7         Kolkata Knight Riders        92
8                Mumbai Indians       109
9                 Pune Warriors        12
10             Rajasthan Royals        75
11       Rising Pune Supergiant        10
12      Rising Pune Supergiants         5
13  Royal Challengers Bangalore        84
14          Sunrisers Hyderabad        58

In [82]:
#Total toss won by all teams
df.groupby(df.toss_winner).toss_winner.count()

toss_winner
Chennai Super Kings            89
Deccan Chargers                43
Delhi Capitals                 10
Delhi Daredevils               80
Gujarat Lions                  15
Kings XI Punjab                81
Kochi Tuskers Kerala            8
Kolkata Knight Riders          92
Mumbai Indians                 98
Pune Warriors                  20
Rajasthan Royals               80
Rising Pune Supergiant          6
Rising Pune Supergiants         7
Royal Challengers Bangalore    81
Sunrisers Hyderabad            46
Name: toss_winner, dtype: int64

In [83]:
#teamwise total runs scored
df=pd.read_csv("deliveries.csv")
df.groupby(df.batting_team).total_runs.sum()

batting_team
Chennai Super Kings            26418
Deccan Chargers                11463
Delhi Capitals                  2630
Delhi Daredevils               24388
Gujarat Lions                   4862
Kings XI Punjab                27893
Kochi Tuskers Kerala            1901
Kolkata Knight Riders          27419
Mumbai Indians                 29809
Pune Warriors                   6358
Rajasthan Royals               22431
Rising Pune Supergiant          2470
Rising Pune Supergiants         2063
Royal Challengers Bangalore    28126
Sunrisers Hyderabad            17059
Name: total_runs, dtype: int64

In [92]:
#count of type of dismissals
df=pd.read_csv("deliveries.csv")
temp1 = df.groupby(df.dismissal_kind).size().reset_index(name='counts')
temp1

          dismissal_kind  counts
0                 bowled    1581
1                 caught    5348
2      caught and bowled     211
3             hit wicket      10
4                    lbw     540
5  obstructing the field       2
6           retired hurt      12
7                run out     852
8                stumped     278

In [96]:
#Total runs scored by suresh raina against various teams
df=pd.read_csv("deliveries.csv")
df = df.loc[df.batsman == 'SK Raina']
df.groupby(df.bowling_team).batsman_runs.sum().sort_values(ascending=False)

bowling_team
Kings XI Punjab                828
Mumbai Indians                 824
Kolkata Knight Riders          820
Royal Challengers Bangalore    663
Rajasthan Royals               620
Delhi Daredevils               507
Sunrisers Hyderabad            441
Deccan Chargers                310
Pune Warriors                  127
Delhi Capitals                 105
Kochi Tuskers Kerala            69
Rising Pune Supergiants         58
Rising Pune Supergiant          43
Name: batsman_runs, dtype: int64